<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated team -->
      <package
            uri="http://it.naturtalent/team"
            class="it.naturtalent.team.model.team.TeamPackage"
            genModel="model/team.genmodel"/>
   </extension>

</plugin>
